<style>
    *.background-div {
        background-color:#202A47;
        color:white;
        font-family:Calibri;
        display: block;
        position:absolute;
        height:auto;
        bottom:0;
        top:0;
        left:0;
        right:0;
        margin-top:20px;
        margin-bottom:30px;
        margin-right:20px;
        margin-left:20px;
    }
    *.centralStorageTable{
        display: block;
        position:absolute;
        height:auto;
        bottom:0;
        top:0;
        left:0;
        right:0;
        margin-right:80px;
        margin-left:80px;
    }
    *.allCarouselsTable{
        display: block;
        position:absolute;
        height:auto;
        bottom:0;
        top:0;
        left:0;
        right:0;
        margin-right:40px;
        margin-left:40px;
    }
    .tum-logo{
        margin-left:20px;
        height:150px;
        width:120px;
        border:0px;
        float:left;
    }
    .page-header{
        float:left;
    }
    .container{ width:100%; }
    .align-left{ float: left;}
    .align-right{float: left;margin-left:30%;}
     a{
        color:white;
        text-decoration: none;
     }
     a
</style>

<div class="row" style="background-color:#202A47;">
    <div class="container">
        <div class="align-left" style="margin-left:2%;">
            <img src="../data/img/Tum_logo.gif" class="tum-logo">
        </div>
        <div class="align-right">
            <h1><b>BAGGAGE HANDLING SYSTEM</b></h1>
            <br/>
            <div layout-align="start center" style="margin-left:20%">
            <h4>
                <a class="nav-link" href="/" style="border-right:5px solid #d9d9d9;"><b>ALL CAROUSELS&nbsp</b></a>
                <a class="nav-link" href="#/carouseldetail"><b>CAROUSEL DETAILS</b></a>
            </h4>
            </div>
        </div>
    </div>
</div>