section.section--center {
  position: relative;
  margin-top: 48px;
  max-width: 1024px;

  header {
    background-color: #000000!important;;
    text-align: center;
    padding-top: 10px;
  }
}

.mv-display-pic {
  width: 100%;
}