<style>
    .tableCell{
        width:150px;
        font-size:20px;
        border:1px solid #202A47 !important;
    }
    .red {
        background-color: lightcoral !important;
    }
    .orange {
        background-color: lightsalmon !important;
    }
    .green {
        background-color: lightgreen !important;
    }

</style>


<span class="md-headline">All carousel details :</span>

<form class="form-inline">
    <div class="form-group">
        <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>
</form>

<br/>

<table class="table table-bordered table-striped"
       ng-table="tableParams">

    <tr ng-repeat="data in $data | filter:search | orderBy:'id'" >
        <td data-title="'ID'" >{{data.id}}</td>
        <td data-title="'X-Coordinate'" >{{data.xCoordinate}}</td>
        <td data-title="'Y-Coordinate'" >{{data.yCoordinate}}</td>
        <td data-title="'Parking Positions'" >{{data.parkingPositions}}</td>
        <td data-title="'Max. Capacity'" >{{data.maxCapacity}}</td>
        <td data-title="'Current Capacity'" >{{data.currentCapacity}}</td>
        <td data-title="'Flight ID'" >
            <span ng-repeat="flight in data.flight_id">{{flight}} &nbsp&nbsp</span>
        </td>
        <td data-title="'Working Stations Assigned'" >
            <span ng-repeat="workstation in data.workingStationsAssigned">{{workstation}} &nbsp&nbsp</span>
        </td>
        <td data-title="'Status'" 
            ng-class="{'red': (data.carouselStatus == 'DANGER'), 'orange': (data.carouselStatus =='WARNING'),
                                'green':(data.carouselStatus == 'OK')}">{{data.carouselStatus}}
        </td>
    </tr>

</table>