<style>
    .tableCell{
        width:150px;
        font-size:20px;
        border:1px solid #202A47 !important;
    }
    .red {
        background-color: lightcoral !important;
    }
    .orange {
        background-color: lightsalmon !important;
    }
    .green {
        background-color: lightgreen !important;
    }
    .title{
        font-weight:bold;
    }

</style>


<span class="md-headline">All carousel details :</span>

<form class="form-inline">
    <div class="form-group">
        <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>
</form>

<br/>

<table class="table table-bordered table-striped"
       ng-table="tableParams" style="width:95%;">

    <tr ng-repeat="data in $data | filter:search | orderBy:'id'" >
        <td title="'ID'">{{data.id}}</td>
        <td title="'X-Coordinate'" >{{data.xCoordinate}}</td>
        <td title="'Y-Coordinate'" >{{data.yCoordinate}}</td>
        <td title="'Parking Positions'" >{{data.parkingPositions}}</td>
        <td title="'Current Capacity'" >{{data.currentCapacity}}</td>
        <td title="'Max. Capacity'" >{{data.maxCapacity}}</td>
        <td title="'Flight ID'" >
            <span ng-repeat="flight in data.flight_id">{{flight}} <br/></span>
        </td>
        <td title="'No. of work stations'" >{{data.workstations}} </td>
        <td title="'Status'" 
            ng-class="{'red': (data.carouselStatus == 'DANGER'), 'orange': (data.carouselStatus =='WARNING'),
                                'green':(data.carouselStatus == 'OK')}">{{data.carouselStatus}}
        </td>
    </tr>

</table>