<style>
    text {
        font-weight: bold;
        color: black;
        font-size: 24px;
    }
</style>
<div layout="column" layout-padding style="margin-top:2%;">

    <div layout="row">

        <md-card mv-carousel-list-drop-down md-whiteframe="3"
                 style="border-left:5px solid #202A47;border-radius:5px;" flex="25">
        </md-card>

    </div>

    <div layout="row">

        <md-card flex="25" ng-if="showCarousel" md-whiteframe="3"
                 style="border-left:5px solid #202A47;border-radius:5px;">

            <md-card-title-text style="margin-left:20px;">
                <span class="md-headline"><h4><b>Carousel ID : {{carouselID}}</b></h4></span>
            </md-card-title-text>

            <md-card-content>


                <div layout="column">

                    <table class="table table-bordered table-striped" ng-table="tableParams"
                           style="width:100%;margin-left:1%" ng-repeat="flight in $data">

                        <tr>
                            <td colspan="4"><b>FLIGHT #{{flight.flight_id}}</b></td>
                        </tr>

                        <tr>
                            <td><b>TIME</b></td>
                            <td><b>EVENTS</b></td>
                            <td><b>NO. OF BAGS</b></td>
                        </tr>

                        <tr ng-repeat="event in flight.Events">
                            <td data-title="'Time'" style="width:auto">{{event.time}}</td>
                            <td data-title="'Events'" style="width:auto">{{event.name}}</td>
                            <td data-title="'No. of Bags'" style="width:auto">
                                <span ng-if="!event.bags">0</span>
                                {{event.bags}}
                            </td>
                        </tr>

                    </table>

                    <table class="table table-bordered table-striped" style="width:100%;margin-left:1%">
                        <tr>
                            <td colspan="4"><b>LEGEND OF EVENTS</b></td>
                        </tr>
                        <tr>
                            <td>SH</td>
                            <td>Start of Baggage Handling</td>
                        </tr>
                        <tr>
                            <td>WH</td>
                            <td>Worker Start To Handle</td>
                        </tr>
                        <tr>
                            <td>SD</td>
                            <td>Start of Storage Depletion</td>
                        </tr>
                        <tr>
                            <td>BA</td>
                            <td>Arrival or Loading of Baggage</td>
                        </tr>
                        <tr>
                            <td>EH</td>
                            <td>End of Baggage Handling</td>
                        </tr>
                    </table>
                </div>


            </md-card-content>

        </md-card>

        <div layout="column" flex>
            <md-card ng-if="showCarousel" md-whiteframe="3" layout-padding="3"
                     style="border-left:5px solid #202A47;border-radius:5px;height:auto">
                <highchart config="barChartConfig"
                           class="span10" style="width:95%;"></highchart>
            </md-card>
            <md-card ng-if="showCarousel" md-whiteframe="3" layout-padding="3"
                     style="border-left:5px solid #202A47;border-radius:5px;height:auto">
                <highchart config="lineChartConfig"
                           class="span10" style="width:95%;"></highchart>
            </md-card>
        </div>

    </div>

</div>

</div>